@{
    ViewData["Title"] = "Destinos";
}


<section class="probootstrap_section" id="section-city-guides">
    <div class="container">
        <div class="row text-center mb-5 probootstrap-animate">
            <div class="col-md-12">
                <h2 class="display-4 border-bottom probootstrap-section-heading">Principais lugares do mundo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 probootstrap-animate mb-3">
                <a href="#" class="probootstrap-thumbnail">
                    <img src="assets/images/img_1.jpg" alt="Portugal" class="img-fluid">
                    <div class="probootstrap-text">
                        <h3>Portugal</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 probootstrap-animate mb-3">
                <a href="#" class="probootstrap-thumbnail">
                    <img src="assets/images/img_2.jpg" alt="Canadá" class="img-fluid">
                    <h3>Canadá</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 probootstrap-animate mb-3">
                <a href="#" class="probootstrap-thumbnail">
                    <img src="assets/images/img_3.jpg" alt="Australia" class="img-fluid">
                    <h3>Australia</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 probootstrap-animate mb-3">
                <a href="#" class="probootstrap-thumbnail">
                    <img src="assets/images/img_4.jpg" alt="Japao" class="img-fluid">
                    <h3>Japão</h3>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap_section">
    <div class="container">
        <div class="row text-center mb-5 probootstrap-animate">
            <div class="col-md-12">
                <h2 class="display-4 border-bottom probootstrap-section-heading">Viaje Conosco</h2>
            </div>
        </div>

        <div class="row probootstrap-animate">
            <div class="col-md-12">
                <div class="owl-carousel js-owl-carousel">
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-teatro-de-la-caridad"></span>
                        <em>Teatro de la Caridad</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-royal-museum-of-the-armed-forces"></span>
                        <em>Museu Real das Forças Armadas</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-parthenon"></span>
                        <em>Parthenon</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-marina-bay-sands"></span>
                        <em>Marina Bay Sands</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-samarra-minaret"></span>
                        <em>Samarra Minaret</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-chiang-kai-shek-memorial"></span>
                        <em>Memorial Chiang Kai Shek</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-heuvelse-kerk-tilburg"></span>
                        <em>Heuvelse Kerk Tilburg</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-cathedral-of-cordoba"></span>
                        <em>Catedral de Cordoba</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-london-bridge"></span>
                        <em>Torre de Londres</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-taj-mahal"></span>
                        <em>Taj Mahal</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-leaning-tower-of-pisa"></span>
                        <em>Torre de Pisa</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-burj-al-arab"></span>
                        <em>Burj al Arab</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-gate-of-india"></span>
                        <em>Gate of India</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-osaka-castle"></span>
                        <em>Castelo de Osaka</em>
                    </a>
                    <a class="probootstrap-slide" href="#">
                        <span class="flaticon-statue-of-liberty"></span>
                        <em>Estátua da Liberdade</em>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





